.header {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;

  &_logo {
    span {
      width: 100%;
      height: 100%;
      font-size: 40px;
      font-weight: 100;
      font-style: normal;
      color: black;
    }
  }

  &_search_bar {
  }

  &_auth {
    display: flex;
    align-items: center;
    gap: 10px;
  }
}
