.photo_list {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  justify-items: stretch;
  gap: 15px;
}

@media screen and (max-width: 1024px) {
  .photo_list {
    grid-template-columns: repeat(auto-fill, minmax(332px, 1fr));
  }
}

@media screen and (max-width: 768px) {
  .photo_list {
    grid-template-columns: repeat(2, 1fr);
  }
}
